.sign-in {
  width: 30%;
  min-width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and(max-width:900px) {
    margin-bottom: 80px;
    min-width: 300px;
    .buttons {
      flex-direction: column;
      & :last-child {
        margin-top: 12px;
      }
    }
  }
  @media screen and(max-width:360px) {
    margin-bottom: 80px;
    min-width: 220px;
  }
}
